
/* Reset Styles and Common Styles */


body {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.33;
  background-color: #3f0a7c;
  color: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 14px/1rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

/* Commons */

.text {
  font-size: 22px;
  color: #fff;
}

.ma {
  margin: auto;
}

.list {
  margin-left: 150px;
}

.information img {
  width: 500px;
  height: 500px;
}

/* Style for header */

.header {
  width: 100%;
  z-index: 3;
  background-color: rgba(20, 2, 41, 0.5);
}

.header_container {
  height: 80px;
  padding-left: 60px;
  padding-right: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav-wrap {
  display: block;
}

.logo img {
    width: 200px;
}

.nav {
  font-size: 0;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

.nav--move {
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav_item {
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 47px;
  text-decoration: none; 
}

.nav_item:last-child {
  margin-right: 0px;
}

.nav_item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 1px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.nav_item:hover:after {
  width: 100%;
}

/* Style for main */

.main_section {
  margin-top: 50px;
  width: auto;
}

.main_img {
  margin-top: 15px;
  padding-left: 60px;
}

.main_title {
  margin-top: 105px;
  padding-left: 100px;
}

.title_m {
  color: white;
  font-size: 75px;
}

/* Style for information */

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
}

.information img {
  height: 500px;
  width: 500px;
} 

.info {
  margin: auto;
}

/* style for portfolio */

.work {
  text-align: center;
}

.porfolio_img_1 {
  margin-left: -160px;
  z-index: 1;
}
.porfolio_img_2 {
  position: absolute;
  z-index: 100;
  margin-top: -380px;
  margin-left: 240px;
}

.porfolio_img_1,
.porfolio_img_2 {
  height: 400px;
  border: 1px solid #adadad;
  box-shadow: 5px 5px 30px 0px #292929;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Style for contacts */

.block_contacts {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacts {
  padding-left: 50px;
}

.contacts a {
  margin-bottom: 16px;
  text-decoration: none;
  color: #fff;
}

.contacts h4 {
  margin-top: 15px;
}

.contacts a:hover {
  color: #fff;
  text-decoration: underline;
}

.form {
  padding: 20px;
  border: 2px solid white;
  border-radius: 25px;

}

/* Style for footer */

.footer {
  background-color: #292929;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer p, h4 {
  justify-content: center;
}

.info_dev {
  font-size: 14px;
  color: #adadad;
  margin-top: 5px;
}

.footer_main_nav {
  padding-left: 5%;
}

.footer_title {
  font-weight: bold;
  color: #adadad;
  font-size: 18px;
}

.footer_navigation {
  margin-top: 5px;
}

.footer_navigation a  {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.privacy_policy {
  font-size: 14px;
  margin-top: 20px;
}

.block_number,
.block_email {
  font-size: 14px;
  margin-top: 5px;
}

/* style for button back to top */

.scrollToTop{ 
  opacity: 0;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 500;
  transition: all .5s ease-in-out;
  text-align: center;
  cursor: pointer; 
  border: 1px solid transparent;
  border-radius: 100%;
  background: rgba(20, 2, 41, 0.5);
}

.scrollToTop span {
  margin-top: 12px;
  color: #fd6500;
  }

.showScrollTop { 
  font-size: 14px; 
  opacity: 1;
}

.scrollToTop:hover {
  background-color: #fff;
  border-radius: 100%;
}

.scrollToTop:active { 
  background-color :#f70808;
}

  /* FontAwesome */
@font-face { 
  font-family:'FontAwesome';
  src: url('../fontawesome-webfont-custom-10.ttf') format('truetype');font-weight:normal;
  font-style:normal;
}

.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.fa-opencart:before{ content:"\f23d";}
.fa-phone:before{ content:"\e800";}
.fa-clock-o:before{ content:"\e801";}
.fa-truck:before{ content:"\e802";}
.fa-credit-card:before{ content:"\e808";}
.fa-chevron-up:before{ content:"\e805";}
.fa-search:before{ content:"\e806";}
.fa-cancel-circled:before { content:"\e810";}
.fa-angle-right:before { content:"\f105";}
.fa-location:before { content:"\e80d";}

/* style for animation */

.animation_backInLeft {
  animation: backInLeft;
  animation-duration: 2.5s;
}

.animation_backInRight {
  animation: backInRight;
  animation-duration: 2.5s;
}

.animation_backInUp {
  animation: fadeInUpBig;
  animation-duration: 2.5s;
}

[data-aos="rotate"] {
  transform: rotate(-360deg);
  opacity: 0;
}

[data-aos="rotate"].aos-animate {
  transform: rotate(0);
  opacity: 1;
}

[data-aos="tracking-in-contract"] {
  letter-spacing: 1em;
  opacity: 0;
}



[data-aos="tracking-in-contract"].aos-animate {
  letter-spacing: normal;
  opacity: 1
}

@media screen and (max-width: 1199px) {
  .title_m {
    font-size: 65px;
  }
  .main_img img {
    width: 400px;
  }
  .info {
    width: 400px;
  }
  .form_cont {
    margin: auto;
    padding: 20px;
  }
}

@media screen and (max-width: 991px) {
  section {
    width: inherit;
    position: absolute;
    margin-top: 700px;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main {
    position: absolute;
    z-index: 1;
  }
  .logo {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .burger {
    display: block;
    width: 40px;
    height: 14px;
  }
  .burger:hover {
    cursor: pointer;
  }
  .burger.burger.is-active {
    height: 30px;
  }
  .burger_line {
    width: 40px;
    height: 2px;
    margin-bottom: 10px;
    background-color: #fff;
    position: relative;
  }
  .burger.is-active .burger_line-top {
    transform: rotate(-45deg);
    top: 12px;
  }
  .burger.is-active .burger_line-bottom {
    transform: rotate(45deg);
  }
  .header_container {
    display: block;
  }
  .header_logo-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_nav-wrap {
    text-align: center;
    display: none;
  }
  .header_nav-wrap.is-active {
    display: block;
    width: 100%;
    background-color: #2b1553;
    position: absolute;
    padding: 15px 0;
    margin-left: -20px;
    border-top: 1px solid #fff;
    z-index: 100;
  }
  .nav--header {
    display: inline-block;
  }
  .nav_item {
    display: block;
    margin-right: 0;
  }
  .nav_item  + .nav_item{
    margin-top: 30px;
  }
  .nav_item::after {
    display: none;
  }
  .main_section {
    margin-top: 25px;
  }
  .main_title {
    margin-top: 25px;
    padding: 0;
    text-align: center;
  }
  .main_img {
    padding: 0;
    text-align: center;
  }
  .info {
    width: 100%;
    padding: 0 20px;
  }
  .porfolio_img_1 {
    height: auto;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
  }
  .porfolio_img_2 {
    text-align: center;
    z-index: 1;
    position: relative;
    margin: auto;
  }
}    


@media (max-width: 575px) {
  .header_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info {
    margin: auto;
  }
  .list {
    margin: auto;
  }
  .main_img img {
    width: 300px;
  }
  .information img {
    height: 300px;
    width: 300px;
  } 
  .footer {
    border-top:  1px solid #adadad;
    border-bottom: 1px solid #adadad;
  }
  .footer_container {
    text-align: center;
  }
  .footer_main_nav {
    padding-left: 12px;
  }
  .footer_contacts,
  .footer_main_nav {
    border-top: 1px solid #adadad;
  }
  .footer_logo {
    padding-bottom: 10px;
  }
  .footer_main_nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer_contacts {
    padding-top: 10px;
  }
  .porfolio_img_1 {
    height: auto;
    width: 300px;
    margin-bottom: 15px;
  }
  .porfolio_img_2 {
    height: 300px;
    position: relative;
    margin: auto;
  }
}


